/* /////////////////// MONSERRAT ////////////////////// */

@font-face {
    font-family: 'danFont';
    src: url("../fonts/Montserrat-Regular.woff2"),
        url("../fonts/Montserrat-Regular.woff");
        font-weight: 400;
}

@font-face {
    font-family: 'danFont';
    src: url("../fonts/Montserrat-Medium.woff2"),
         url("../fonts/Montserrat-Medium.woff");
        font-weight: 500;
}

@font-face {
    font-family: 'danFont';
    src: url("../fonts/Montserrat-bold.woff2"),
        url("../fonts/Montserrat-bold.woff");
        font-weight: 700;
}

/*//////////// MULISH /////////////////// */
@font-face {
    font-family: 'danMulish';
    src: url("../fonts/mulish-regular.woff2");
    src: url("../fonts/mulish-regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'danMulish';
    src: url("../fonts/mulish-medium.woff2");
    src: url("../fonts/mulish-medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: 'danMulish';
    src: url("../fonts/mulish-bold.woff2");
    src: url("../fonts/mulish-bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: 'danMulish';
    src: url("../fonts/mulish-ExtraBold.woff2");
    src: url("../fonts/mulish-ExtraBold.woff");
    font-weight: 800;
}


body {
    font-family: 'danFont',Arial, Helvetica, sans-serif;
}

main {
    max-width: 1440px;
    margin: auto;
}
 
.modal,
main {
    padding-right: 16px;
    padding-left: 16px;
}

.search,
.modal {
    font-family: 'danMulish', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
    border-radius: 24px;
}

.page-title {
    text-indent: -9999px;
}

.page-title-link {
    display: block;
    max-width: calc(69px + 21px + 5px);
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.heading {
    font-size: 18px;
}

.details,
.search-form,
.star-rating {
    display: flex;
}

.details {
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-form {
    justify-content: center;
}

.search,
.add-guest {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: none;
    width: 100%;
    height: 55px;
    align-self: center;
}

.search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 16px;
}

.add-guest {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    border-right: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
}

.search-button,
.search,
.add-guest,
.number-of-guests {
    background-color: #FFFFFF;
}

.search-button {
    background-image: url("../images/search-icon.svg");
    display: block;
    padding-left: calc((17px / 2) + 19px);
    padding-right: calc((17px / 2) + 19px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 53px;
}

.add,
.minus,
.remove-modal,
.search-button {
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.search,
.add-guest,
.modal-search-button,
.add,
.minus,
.remove-modal,
.search-button,
.super-host,
.star-rating::before {
    cursor: pointer;
}

.stay-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-of-stays {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

.super-host {
    color: #4F4F4F;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FFFFFF;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
}

.type,
.number-of-bed {
    color: #828282;
}

.star-rating {
    align-items: center;
}

.star-rating::before {
    content: "";
    background-image: url("../images/star-rating.svg");
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    flex-direction: row;
}

.type,
.number-of-bed,
.star-rating,
.title {
    font-size: 12px;
    font-weight: 500;
}

#root {
    padding-bottom: 2rem;
}

footer {
    border-top: 1px solid #BDBDBD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

footer a {
    font-size: 14px;
    color: #A9A9A9;
    text-decoration: none;
}

/* /////////////////////////// MODAL //////////////////////////////////// */

.city-to-stay,
.number-of-guests {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    height: 55px;
    width: 100%;
    border: none;
    /* padding-left: 26px; */
}

.city-to-stay {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom: 1px solid #F2F2F2;
    /* max-width: 355px; */
}

.number-of-guests {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    text-align: start;
    padding-left: 1rem;
    /* max-width: 351px; */
}

.search-container {
    position: relative;
}

.search-container label {
    position: absolute;
    left: 29px;
}

/* .outer-modal {
    height: 100vh;
    background-color: rgba(79, 79, 79, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
} */

.open,
.close {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* .close {
    display: none;  
}  */

.open {
    display: block;
    background-color: rgba(79, 79, 79, 0.4);
} 

.modal {
    font-size: 14px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    padding: 16px;
}

.search-container label {
    font-weight: 800;
    font-size: 9px;
}

.modal-title {
    font-size: 12px;
}

.modal-search-button {
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: none;
    margin: auto;
    width: 100%;
    height: 48px;
    max-width: 126px;
    color: #F2F2F2;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-search-button::before {
    content: "";
    background-image: url("../images/search-icon-white.svg");
    display: block;
    top: 24px;
    width: 17px;
    height: 24px;
    padding-left: 10px;
}

.modal-form {
    padding-bottom: 16px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guests-to-host {
    text-align: center;
    margin-bottom: 24px;
}

.guests-to-host b {
    margin-left: 16px;
    margin-right: 16px;
}

.guests-to-host p {
    color: #BDBDBD;
}

.guests-to-host button {
    background-color: #FFFFFF;
    border: 1px solid #828282;
    width: 100%;
    border-radius: 4px;
    max-width: 23px;
}

.add {
    background-image: url("../images/add.svg");
}

.minus {
    background-image: url("../images/minus.svg");
}

.add,
.minus {
    background-size: contain;
}

.remove-modal {
    background-image: url("../images/clear.svg");
    border: none;
    background-color: #FFFFFF;
    background-size: cover;
    width: 28px;
}

.modal ul {
    list-style: none;
}

.city-name {
    padding: 10px;
}

.city-name::before {
    content: "";
    background-image: url("../images/location.svg");
    width: 14px;
    height: 19px;
    padding-right: 20px;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

@media (min-width: 650px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }

}


@media (min-width: 900px) {

    .header {
        padding-top: 32px;
        padding-bottom: 67px;
    }

    .stay-details {
        padding-bottom: 32px;
    }

    .stay-details .heading {
        margin: 0;
    }

    main {
        padding-bottom: 98px;
        padding-left: 94px;
        padding-right: 94px;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .page-title {
        width: 100%;
    }

    .search-form {
        align-self: center;
        width: 100%;
        max-width: 297px;
    }

    footer {
        max-width: 402px;
        margin: auto;
    }

}


@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}