@font-face {
    font-family: 'danFont';
    src: url("../fonts/Montserrat-Regular.woff2"),
        url("../fonts/Montserrat-Regular.woff");
        font-weight: 400;
}

@font-face {
    font-family: 'danFont';
    src: url("../fonts/Montserrat-Medium.woff2"),
         url("../fonts/Montserrat-Medium.woff");
        font-weight: 500;
}

@font-face {
    font-family: 'danFont';
    src: url("../fonts/Montserrat-bold.woff2"),
        url("../fonts/Montserrat-bold.woff");
        font-weight: 700;
}

body {
    font-family: 'danFont',Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    border-radius: 24px;
}

.page-title {
    text-indent: -9999px;
}

.page-title-link {
    display: block;
    max-width: calc(69px + 21px + 5px);
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.heading {
    font-size: 18px;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search,
.add-guest {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: none;
    width: 100%;
    height: 55px;
    align-self: center;
}

.search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    max-width: 137px;
    /* border-right: 1px solid #4F4F4F; */
}

.add-guest {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    border-right: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    max-width: 106px;
}

.search-button {
    background-image: url("../images/search-icon.svg");
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding-left: calc((17px / 2) + 19px);
    padding-right: calc((17px / 2) + 19px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    max-width: 53px;
}

.stay-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-of-stays {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
}

.super-host {
    color: #4F4F4F;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FFFFFF;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    cursor: pointer;
}

.type,
.number-of-bed {
    color: #828282;
}

.star-rating {
    display: flex;
    align-items: center;
}

.star-rating::before {
    content: "";
    background-image: url("../images/star-rating.svg");
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    flex-direction: row;
    cursor: pointer;
}

.type,
.number-of-bed,
.star-rating,
.title {
    font-size: 12px;
    font-weight: 500;
}

#root {
    padding-bottom: 2rem;
}

footer {
    border-top: 1px solid #BDBDBD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

footer a {
    font-size: 14px;
    color: #A9A9A9;
    text-decoration: none;
}

/* /////////////////////////// MODAL //////////////////////////////////// */

.city-to-stay,
.number-of-guests {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    height: 55px;
    width: 100%;
    border: none;
    padding-left: 26px;
}

.city-to-stay {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom: 1px solid #F2F2F2;
    max-width: 355px;
}

.number-of-guests {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    max-width: 351px;
}

.search-container {
    position: relative;
}

.search-container label {
    position: absolute;
    left: 29px;
}

.modal-search-button {
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: none;
    width: 100%;
    height: 48px;
    max-width: 126px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}

.modal-search-button::before {
    content: "";
    background-image: url("../images/search-icon-white.svg");
    display: block;
    top: 24px;
    background-repeat: no-repeat;
    width: 17px;
    height: 24px;
    padding-left: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}